body{
  text-align:center;
  background-color: #9b9b9b;
}

.grid{
  width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px 50px 50px 50px;
  border: 3px solid #cbcbcb;
  border-radius:50px;
}



#btn0, #btn1, #btn2, #btn3 {
  background-color: grey;
  width: 25rem;
  font-size: 2rem;
  border-radius: 5rem;
  font-size:2.5rem;
}

#btn1, #btn2, #btn3{
  margin-top: 2rem;
}

.grid h1{
  background-color: #d4d4d4;
  border-radius: 1rem;
  font-size: 4.5rem;
}
.grid #question{
  font-size: 30px;
  color: #000000;
}

#progress{
  color: black;
  font-size: 2rem;
  margin-top: 1rem;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
  cursor:pointer;
  background-color: #000000;
}

#question{
  font-size: 3rem;
}

